
.logs-container {
    margin: 1rem 0;
    max-width: 42rem;
    min-width: 42rem;
    border-radius: 4px;
    max-height: 40rem;
    min-height: 40rem;
    overflow: auto;
    scrollbar-width: none;
}

.log-entry {
    padding: 10px;
    border-bottom: 1px solid #3465ad; /* Divider between logs */
}

.log-entry:last-child {
    border-bottom: none; /* Remove last border */
}

.timestamp {
    font-size: 0.8em; /* Smaller font for timestamp */
    color: #3498db;
}

.log-message {
    font-size: 1rem;
}

.log-text{
    font-size: 1.4rem;
}
