.student-btn{
    border-top-left-radius: 20px;
}.req-btn{
    border-top-right-radius: 20px;
}
.edit-icon-style{
    padding: 4px;
    border-radius: 2px;
}
.edit-icon-style:hover{
    background-color: #161f47;
    cursor: pointer;
}
.student-image{
    height: 40px;
    width: 40px;
}

.loading-indicator {
    top: 40%;
}

.spinner {
    width: 40px;
    height: 40px;
}