@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
body{
    background: white;
    background-image: linear-gradient(#bbd8ff, rgb(222, 241, 251));
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background: transparent;
    padding: 1rem 2.5rem;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: background-color 0.3s ease;
}

.scroll{
    background: white;
    padding: 1rem 2.5rem;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 4px #bababa; 
    transition: background-color 0.3s ease;
    z-index: 5;
    #btn-login{  
        background: rgb(78, 102, 175);
        color: #ffffff;
        transition: .3s ease;
    }
}

.header-container{
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 1600px;
    justify-content: space-between;
}
.container-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.logo-container{
    height: 40px;
    display: flex;
    align-items: center;
}
.logo-container img{
    height: 65%;
}
.container-navigation span{
    color: #333;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


.login-button {
    background:transparent;
    color:rgb(69, 92, 160);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}
.login-button:hover {
    background: rgb(78, 102, 175);
    color:rgb(255, 255, 255);
}

.signup-button {
    background: rgb(78, 102, 175);
    color:rgb(255, 255, 255);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}
.login-button:hover {
    background: rgb(78, 102, 175);
    color:rgb(255, 255, 255);
}

.header-btn-container{
    display: flex;
    gap: 1.4rem;
}

.first-content {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8%;
}

.content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 60px auto; /* Center content horizontally */
    padding: 0 80px; /* Add some padding to the sides */
    max-width: 1200px; /* Set a maximum width for the content */
    width: 100%; /* Full width of the container */
    gap: 20px;
}

.content .info {
    max-width: 60%; 
    flex-grow: 1;
}

.image-container {
    max-width: 50%; 
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}

.content .info h2 {
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #4887ff;
    font-size: 50px;
    font-weight: 600;
    font-weight: 800;
}

.content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover {
    background: #0C4F70;
}

.text-center-head1{
    color:  rgb(78, 102, 175);
}

.container-btn{
    padding: 16px;
    display: flex;
}
.btn-playstore {
    height: 100px;
}
.btn-playstore img{
    height: 60%;
}



.second-content {
    width: 100%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-contents{
    max-width: 86rem;
    background: #b7e6ff;
    border-radius: 20px;
}
.text-why-container{
    height: inherit;
    width: inherit;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-why-first{
    width: 40%;
}
.text-why-first p{
    font-size: 1.4rem;
    text-align: left;
    margin: 24px 12px;
    line-height: 1.5;
    color: #404040;
}
.text-why-second{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: inherit;
}
.text-why-second img{
    width: inherit;
}






.third-content {
    max-width: 86rem;
    margin: 1.5% 0;
}
.text-features-style{
    color: #333c51;
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5rem;
}
.features-contents{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.features-text-style{
    color: #404040;
    font-weight: 300;
    line-height: 1.5;
    text-align: start;
}
.features-text-style h1{
    text-align: start;
    margin: 24px 0;
    font-size: 2.2rem;
}
.features-text-style span{
    font-size: 1.4rem;
}


.card1{
    width: 32%;
    height: 30rem;
    padding: 48px;
    flex-direction: column;
    background: #aeffc2;
    border-radius: 20px;
}
.card2{
    width: 32%;
    height: 30rem;
    padding: 48px;
    flex-direction: column;
    background: #b1e0ff;
    border-radius: 20px;
}
.card3{
    width: 32%;
    height: 30rem;
    padding: 48px;
    flex-direction: column;
    background: hsl(24, 84%, 83%);
    border-radius: 20px;
}

.fourth-content{
    width: 100%;
    margin: 6% 0;
    display: flex;
    text-align: center;
}
.content-join{
    display: flex;
    flex-direction: column;
    max-width: 72rem;
}
.content-join h1{
    font-size: 2.5rem;
    line-height: 1.2;
    color: #404040;
}
.content-join span{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    color: #404040;
    margin: 8px;
}


.footer-container {
    width: 100%;
    background-color: #226A80;
    color: #fff;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    /* padding: 40px; */
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-section p, .footer-section ul {
    font-size: 1rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #4887ff;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons a img {
    width: 30px;
    height: auto;
    filter: brightness(0) invert(1); /* makes the icons white */
    transition: filter 0.3s ease;
}

.social-icons a:hover img {
    filter: brightness(0) invert(0.7);
}

.footer-bottom {
    width: 100%;
    background-color: #185569;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 1rem;
    margin: 0;
    color: #bbb;
}




