.style-container-1{
    width: 100%;
    height: 100%;
}
.divider-solid{
    margin: 14px 0;
    border-top: 3px solid #1f2e63;
}
.style-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4px;
}
.class-list-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 14px 0;
}