.table-div{
    display: flex;
    justify-content: center;
}
table{
    width: 90%;
    margin: 1.6rem 2rem;
    border-spacing: 0;
    /* border-collapse: collapse; */
    border: 1px solid #1f2e63;
    border-radius: 10px;
}

table th{
    background: #1f2e63;
    height: 2.6rem;
}
table td{
    text-align: center;
    height: 2.6rem;
    font-size: .9rem;
    border: 1px solid #1f2e63;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
textarea{
    scrollbar-width: none;
    resize: none; 
    width: 100%; 
    padding:.3rem;
    background:#0a1339;
    color: white; 
}