*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60%;
}

nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: min-content;
    border-right: 1px solid #1f2e63;
    overflow: hidden;
    padding: 0;
    background-color: #181e36;
}
.menu{
    height: 85%;
    position: relative;
    list-style: none;
    padding: 0;
    padding-top: 32px;
}
.active{
    background: #1f2e63;
}
.menu li:hover{
    background: #0a112d;
}
.menu a {
    padding: .8rem;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.main_body{
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: #0a112d;
}

.main_container{
    display: flex;
    gap: 1rem;
    height: 100%;
    background: #1f2e63;
}



